.admin__menu #menu-andrewlab-core-top-level > a:before {
    content: url('../images/logo.png') !important;
    font-size: 2.4rem!important;
    position: relative!important;
    top: -1.1rem!important;
}
.config-nav-block.andrewlab-tab strong:before {
    content: '';
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}